@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto+Slab:wght@100&display=swap');

body { font: 1em sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

<h3>Contact Form</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>

.container{
  
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-contact: center;
  flex-direction: column;
}
h1 {
  color: #333;
  margin-bottom: 60px;

}
iframe{
  width: 80%;
  height: 500px;
  filter: invert (100%);
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content{
  position: relative;
  font-family:c'Times New Roman', Times, serif ;
   color: black;
   text-align: center;
   margin: 0.629rem;
}
.hero-image {
  background-image: linear-gradient(rgba(206, 26, 26, 0.5), rgba(39, 209, 39, 0.5));
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

section {
  margin-bottom: 15px;
}
aside{
  padding-bottom: 15px;
  float: right;
  width: 33%;
  height: 50%;
}

img {
  float: left;

}
label,input,textarea {
  display:block;
}


nav {
  list-style-type: none;
  background-color: rosybrown;
  font-family:"Fascinate", serif;
  font-size: xx-large;
  display: inline;
  text-align: center;
  border-radius:450px ;

}

aside 
body {
  background-image: url(/img/);
}
ul {
  list-style-type:none;
}

li a:visited {
  color: rgb(24, 14, 11);
 border-radius: 25px;
}
li a:hover {
  color: blueviolet;
  }
  br   
  #social-fb:hover {
      color: #3B5998;
  }
  #social-tw:hover {
      color: #4099FF;
  }
  #social-gp:hover {
      color: #d34836;
  }
  #social-em:hover {
      color: #f39c12;
  }
 footer{
  width: 150px;
  height: 250px;
  
 }
